

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://img1.freepng.es/20180503/jiq/kisspng-angularjs-javascript-npm-software-framework-juan-5aeb1c59809e73.5840680415253576575268.jpg" alt="" height="60px" width="70px">

   <div>
    <ul class="nav nav-tabs">
        <li class="nav-item m-2">
          <a class="nav-link" aria-current="page" routerLink="/Dog" routerLinkActive="active-link"> <i class="fa-solid fa-dog"></i> Dog</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" routerLink="/Cat" routerLinkActive="active-link"> <i class="fa-solid fa-cat"></i>Cat</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" routerLink="/Mice" routerLinkActive="active-link"><i class="fa-solid fa-mouse"></i>Mice</a>
        </li>
      </ul>
   </div>
  </nav>
<router-outlet></router-outlet>